@keyframes modal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.header {
    padding: 21px 18px;
    box-shadow: 0px 0px 40px -20px rgba(0, 0, 0, 0.25);
}

.header .titulo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 21.6949px;
    line-height: 33px;
    color: #212529;
    margin-bottom: 30px;
}

.header .titulo--rosa {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16.2712px;
    line-height: 24px;
    color: #FF2253;
}

.header input {
    background: #E9ECEF;
    border: 1.5px solid #E9ECEF;
    font-family: 'inter';
    border-radius: 8px;
    padding: 10px;
    outline: none;
    width: 100%;
}

.header input::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #868E96;
}

.header input:focus {
    background: #F8F9FA;
    border: 1.5px solid #212529;
}

.header img {
    width: 36px;
    height: 36px;
    border-radius: 128px;
    position: absolute;
    right: 30px;
    top: 26px;
    cursor: pointer;
}

.main {
    text-align: center;
    padding: 0 18px;
}

.main .filtros {
    display: flex;
    overflow-x: scroll;
    gap: 22px
}

.main .filtros::-webkit-scrollbar {
    width: 1px;
}

.main .filtros::-webkit-scrollbar-thumb {
    display: none;
}

.container .filtro__botao,
.main .filtro__botao {
    background: #FFF7F4;
    border: 1.5px solid #FFF7F4;
    border-radius: 32px;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Poppins';
    line-height: 19px;
    text-align: center;
    color: #212529;
    padding: 8px 14px;
}

.container .botao--focado,
.main .botao--focado {
    background: #FF2253;
    border: 1.5px solid #FF2253;
    color: #F8F9FA;
}

.container .filtro__botao:hover,
.main .filtro__botao:hover {
    background: #FF2253;
    border: 1.5px solid #FF2253;
    color: #F8F9FA;
    cursor: pointer;
}

.main .botao--adicionar {
    margin: 10px 0 30px 0;
}

.main .cabeca__tabela {
    margin-bottom: 30px;
}

.main .cabeca__tabela ul {
    display: flex;
    justify-content: space-between;
}

.main .cabeca__tabela .cabeca__tabela--iten {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #868E96;
}

.main .corpo__tabela--linha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #E9ECEF;
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 10px 0;
}

.main .box {
    width: 25%;
}

.main .corpo__tabela {
    height: 50vh;
    overflow-y: scroll;
    flex-direction: column;
}

.main .corpo__tabela::-webkit-scrollbar {
    width: 1px;
}

.main .corpo__tabela::-webkit-scrollbar-thumb {
    background: transparent;
}

.main .corpo__tabela--linha img {
    width: 32px;
    height: 32px;
    border-radius: 150px;
}

.main .corpo__tabela--nome {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #212529;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main .corpo__tabela--categoria {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #868E96;
    background: #F8F9FA;
    border-radius: 8px;
}

.main .corpo__tabela--descricao {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #868E96;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main .corpo__tabela--botao {
    background: #F8F9FA;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    color: #868E96;
    border: none;
    cursor: pointer;
}

.container {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.container .container__box {
    margin: 10% auto;
    width: 85%;
    background: #FFFFFF;
    border-radius: 8px;
    animation: modal 1s linear;
    transition: 500ms;
}

.container .container__box .texto__confirmacao {
    margin-bottom: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #000000;
}

.container .container__box .cabeca {
    padding: 10px 20px;
    justify-content: space-between;
    margin-bottom: 20px;
    background: #F8F9FA;
    border-radius: 8px 8px 0px 0px;
}

.container .container__box .box--flex {
    display: flex;
}

.container .container__box .titulo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.container .container__box .botao__fechar {
    background: #E9ECEF;
    border-radius: 4px;
    border: none;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #868E96;
}

.container .container__box .botao__fechar:hover {
    background: #FF2253;
    color: #F8F9FA;
    cursor: pointer;
}

.container .container__box label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 0px;
    color: #212529;
}

.container .container__box .textarea {
    resize: none;
    background: #F8F9FA;
    border: 1.5px solid #DEE2E6;
    border-radius: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #868E96;
    outline: none;
    padding: 8px;
    width: 96%;
    margin: 10px 0 20px 0;
}

.container .container__box input {
    background: #F8F9FA;
    border: 1.5px solid #DEE2E6;
    border-radius: 6px;
    outline: none;
    padding: 8px;
    width: 100%;
    margin: 10px 0 20px 0;
}

.container .container__box input::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #868E96;
}

.container .container__box input:focus {
    background: #FFFFFF;
    border: 1.5px solid #212529;
}

.container .container__box .textarea:focus {
    background: #FFFFFF;
    border: 1.5px solid #212529;
}

.container .filtro__botao {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    width: 100%;
    margin: -5px 0 20px 0;
}

.container form {
    padding: 0 20px;
}

.container .box--categorias {
    flex-direction: column;
    margin-bottom: 0;
    margin-top: 16px;

}

.container .box--categorias span {
    margin-bottom: 15px;
}

@media (min-width: 350px) {
    .container .container__box {
        margin: 5% auto;
    }

    .container .container__box {
        width: 85%;
    }

    .container .container__box .box--flex {
        margin-bottom: 20px;
    }

    .container .container__box .box--flex {
        flex-direction: row;
        margin-bottom: 20px;
    }

    .container .container__box input,
    .container .container__box .textarea {
        margin-bottom: 30px;
    }

    .container .filtro__botao {
        padding: 10px;
    }
}

@media (min-width: 770px) {
    .header {
        display: flex;
        justify-content: space-between;
    }

    .header input {
        width: 300px;
        height: 50%;
        margin-right: 60px;
    }

    .container__botoes {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .main .filtros {
        display: block;
        gap: 0;
        overflow: hidden;
    }

    .main .filtro__botao {
        margin-right: 28px;
    }

    .main .produto__nome {
        display: flex;
        align-items: center;
        max-width: 250px;
    }

    .main .corpo__tabela--linha img {
        margin-right: 10px;
    }

    .container .container__box {
        width: 50%;
    }
}

@media (min-width: 980px) {
    .header {
        padding: 20px 117px;
        display: flex;
        justify-content: space-between;
    }

    .header .titulo {
        font-size: 24px;
        margin: 0;
    }

    .header .titulo--rosa {
        font-size: 20px;
    }

    .header input {
        width: 312px;
        height: 50%;
        margin-right: 60px;
    }

    .header img {
        right: 120px;
        top: initial;
    }

    .main {
        padding: 0 117px;
    }

    .main .container__botoes {
        display: flex;
        justify-content: space-between;
        margin: 44px 0 58px 0;
    }

    .main .filtros {
        display: block;
        overflow-x: hidden;
        gap: 0;
    }

    .main .filtro__botao {
        margin-right: 28px;
    }

    .main .botao--adicionar {
        margin: 0;
    }

    .main .tabela__produtos {
        height: 60vh;
        overflow-y: scroll;
    }

    .main .tabela__produtos::-webkit-scrollbar {
        width: 10px;
    }

    .main .tabela__produtos::-webkit-scrollbar-thumb {
        background-color: #FF2253;
        border-radius: 10px;
    }

    .main .cabeca__tabela {
        margin-bottom: 31px;
        padding: 0 20px;
    }

    .main .cabeca__tabela .cabeca__tabela--iten {
        width: 100px;
    }

    .main .corpo__tabela--linha {
        padding: 20px;
        margin-bottom: 20px;
    }

    .main .box {
        max-width: 300px;
    }

    .main .produto__nome {
        display: flex;
        align-items: center;
        max-width: 250px;
    }

    .main .corpo__tabela--linha img {
        margin-right: 12px;
    }

    .main .corpo__tabela--nome {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .main .corpo__tabela--categoria {
        padding: 6px;
        margin-right: 5px;
    }

    .main .corpo__tabela--descricao {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .container .container__box {
        background: #FFFFFF;
        width: 35%;
        margin: 35px auto;
    }

    .container .container__box .cabeca {
        background: #F8F9FA;
        padding: 15px 28px;
        margin-bottom: 32px;
    }

    .container .container__box input,
    .container .container__box .textarea {
        margin-bottom: 40px;
        margin-top: 16px;
    }

    .container .filtro__botao {
        margin-top: -10px;
        margin-bottom: 30px;
        padding: 10px;
    }

    .container .box--categorias {
        margin-bottom: 40px;
    }

    .container .box--categorias span {
        margin-bottom: 30px;
    }
}