:root {
  --background: #fafafa;
  --cor-primaria: #ff2253;
  --cor-primaria-50: #ffe9ee;
  --cor-secundaria: #4aca94;
  --cor-secundaria-50: #e4f7ef;
  --cor-produto-1: #eef6ff;
  --cor-produto-2: #fff7f4;
  --cor-produto-3: #ffe4ea;
  --cor-produto-4: #f3eef5;
  --cinza-4: #212529;
  --cinza-3: #868e96;
  --cinza-2: #e9ecef;
  --cinza-1: #f8f9fa;
  --font: "Poppins";
  --font-inter: "Inter";
}

@media only screen and (max-width: 560px) {
  header .containerLogo {
    display: flex;
    height: 4vh;
    padding: 21px 30px;
  }

  .containerLogo>h2 {
    font-family: var(--font);
    font-weight: 700;
    font-size: 22px;
    color: var(--cinza-4);
  }

  .containerLogo>h2>span {
    font-family: var(--font);
    font-weight: 700;
    font-size: 16px;
    color: var(--cor-primaria);
  }

  header>.containerBuscaPorNome {
    width: 80%;
    height: 35px;
    margin: auto;
    background-color: var(--cinza-2);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 17px;
    gap: 14px;
    border-radius: 12px;
  }

  .containerBuscaPorNome>input {
    padding: 15px 18px 15px 16px;
    color: var(--cinza-3);
    background-color: var(--cinza-2);
    width: 100%;
    padding: 15px 2px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    outline: none;
  }

  .containerBuscaPorNome input:focus {
    background-color: #e9ecef;
    border: none;
    outline: none;
  }

  .conteudo {
    height: 84vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .filtros {
    margin: 10px auto;
    display: flex;
    width: 90%;
    height: 60px;
    overflow-y: hidden;
    overflow-x: auto;
  }

  .filtro::-webkit-scrollbar {
    display: none;
  }

  .filtro_botao {
    background-color: var(--cinza-1);
    font-size: 16px;
    color: var(--cinza-4);
    border: 1.5px solid var(--cinza-1);
    border-radius: 30px;
    height: 48px;
    width: 150px;
    padding: 15px 14px;
    display: flex;
    justify-content: center;
  }


  .filtro_botao:hover {
    color: #FFFF;
    background-color: #ff2253;
  }

  .botao--focado {
    background-color: var(--cor-primaria);
    color: var(--cinza-1);
    height: 48px;
    width: 150px;
  }

  .box {
    background-color: var(--background);
    height: 62vh;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
    gap: 7px;
    margin: 0 10px;
  }

  .card {
    height: 200vh;
    width: 80vw;
    display: inline-block;
    gap: 16px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
  }

  .card>figure {
    max-height: 200px;
    max-width: 300px;
    object-fit: cover;
  }

  .card>figure>img {
    height: 200px;
    width: 300px;
  }

  .card__text {
    max-height: 170px;
  }

  .card__text__content {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 16px;
  }

  .card__text__content>h3 {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins';
  }

  .card__text__content>p {
    font-family: var(--font);
    font-weight: 400;
    color: var(--cinza-3);
    font-size: 14px;
  }

  .card__text__content>span {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 12px;
  }

  .card__text__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;

  }

  .card__text__footer img {
    width: 15px;
    height: 15px;
  }

  .card__text__footer span {
    font-family: var(--font);
    font-size: 14px;
    font-weight: 500;
  }

  .carrinhoBox {
    background-color: var(--cor-primaria);
    height: auto;
    width: 100%;
    height: 80px;
  }

  .carrinho_header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .carrinho_header h3 {
    font-family: var(--font);
    font-weight: 700;
    font-size: 16px;
    color: var(--cinza-1);
  }

  .carrinho_content {
    display: none;
  }

  .cardinho {
    display: none;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 430px;
  }

  .carrinho {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-height: 70%;
  }

  .carrinho img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 8px;
  }

  .carrinho__content {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 12px;
    justify-content: space-between;
    font-family: var(--font);
    font-size: 14px;
    font-weight: 500;
  }

  .carrinho__content>span:nth-of-type(1) {
    color: var(--cinza-3);
  }

  .carrinho__content>span:nth-of-type(2) {
    color: var(--cinza-4);
    font-weight: 400;
  }

  .carrinho>figure>.lixeira {
    height: 12px;
    width: 10px;
  }

  .visivel {
    background: var(--cor-produto-1);
    position: absolute;
    top: 15%;
    left: 10%;
    height: 60vh;
    width: 80%;
    padding: 10px 0;
    display: flex;
    border-radius: 15px;
  }

  .visivel-x {
    background: rgb(246, 235, 235);
    position: absolute;
    flex-direction: column;
    top: 77%;
    left: 10%;
    height: 96px;
    width: 80%;
    display: flex;
    border-radius: 15px;
  }

  .visivel-x img {
    height: 45px;
    width: 45px;
  }
}

@media (min-width: 561px) {

  /*-------------------------------- Header --------------------------*/
  header {
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
  }

  header .containerLogo {
    display: flex;
    height: 4vh;
    padding: 21px 18px;
    width: 150px;
    align-items: center;
  }

  .containerLogo>h2 {
    font-family: var(--font);
    font-weight: 700;
    font-size: 22px;
    color: var(--cinza-4);
  }

  header>.containerBuscaPorNome {
    width: 400px;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #e9ecef;
    border-radius: 12px;
    padding: 5px 18px 5px 16px;
  }

  .containerBuscaPorNome>input {
    padding: 15px 18px 15px 16px;
    width: 312px;
    height: 100%;
    padding: 15px 2px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    outline: none;
  }

  .containerBuscaPorNome input:focus {
    background-color: var(--background);
    border: 1.5px solid var(--cinza-4);
    border-radius: 8px;
    font-family: "inter";
    outline: none;
  }

  .filtros {
   overflow-x: hidden;
    display: flex;
    height: 60px;
    flex-direction: row;
    justify-content: center;
    width: 500px;
  }

  .botao--focado {
    background-color: var(--cor-primaria);
    color: var(--cinza-1);
  }

  .filtro_botao {
    background-color: var(--cinza-1);
    font-size: 16px;
    color: var(--cinza-4);
    line-height: 19px;
    border: 1.5px solid var(--cinza-1);
    border-radius: 30px;
    height: 48px;
    width: auto;
    padding: 15px 14px;
  }

  .filtro_botao:hover {
    color: #FFFF;
    background-color: #ff2253;
  }

  .containerLogo>h2>span {
    font-family: var(--font);
    font-weight: 700;
    font-size: 16px;
    color: var(--cor-primaria);
  }

  /*-------------------------------- cards --------------------------*/
  .box {
    display: flex;
    padding: 0px;
    gap: 37px;
    flex-wrap: wrap;
    justify-content: center;
  }

  main {
    display: flex;
    width: 1009px;
    flex-direction: column;
  }

  .box_card figure img {
    width: 100%;
    height: 194px;
    margin: auto;
  }

  .box_card {
    height: 397px;
    width: 303px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .box_card h3 {
    font-family: var(--font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
  }

  .box_card p {
    font-family: var(--font);
    max-height: 70px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .card__text {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  .card__text__content {
    display: flex;
    gap: 13px;
    flex-direction: column;
  }

  .card__text__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card__text__footer img {
    width: 15px;
    height: 15px;
  }

  .carrinho_header img {
    width: 15px;
    height: 15px;
    color: #ffff;
    margin: 0px 20px;
  }

  /* -------------------------------- carrinho -------------------------------- */
  .carrinhoBox {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
  }

  .carrinho_header {
    display: flex;
    width: 320px;
    height: 56px;
    background-color: var(--cor-primaria);
    border-radius: 12px 12px 0px 0px;
    justify-content: flex-start;
    align-items: center;
  }

  .carrinho_content {
    display: flex;
    width: 319px;
    height: 296px;
    margin-top: 25px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }

  .carrinho_content figure {
    height: 100px;
  }

  .carrinho_content figure img {
    height: 50px;
    height: 50px;
  }

  .carrinho_content span {
    width: 243px;
    height: 60px;
    font-family: var(--font);
    text-align: center;
    /* grey-3 */
    color: var(--cinza-3);
  }

  .carrinho_header img {
    margin: 20;
  }

  .carrinho_header h3 {
    width: 71px;
    height: 27px;
    left: 1223px;
    top: 139px;
    font-family: var(--font);
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: var(--background);
  }

  .conteudo {
    display: flex;
    margin: 0px 100px 123px 100px;
  }
}

.cardinho {
  width: 319px;
  max-height: 221px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding: 17px 10px;
  overflow-y: scroll;
}

.cardinho li {
  display: flex;
  width: 100%;
}

.cardinho img {
  width: 70px;
  height: 70px;
  border-radius: 8px;
}

.carrinho_card {
  justify-content: space-between;
  flex-direction: row;
  position: relative;
}

.carrinho__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 175px;
}

figure .lixeira {
  width: 15px;
  height: 15px;
}

.boxGeral {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  display: flex;
  height: 70px;
}

.quantidade {
  display: flex;
  justify-content: space-between;
}

.pagamentoTotal {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 1023px) {

  /*-------------------------------- Header --------------------------*/
  header {
    display: flex;
    justify-content: space-between;
    height: 72px;
  }

  header .containerLogo {
    display: flex;
    height: 4vh;
    padding: 21px 18px;
    width: 150px;
  }

  .containerLogo>h2 {
    font-family: var(--font);
    font-weight: 700;
    font-size: 22px;
    color: var(--cinza-4);
  }

  header>.containerBuscaPorNome {
    width: 300px;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #e9ecef;
    border-radius: 12px;
    padding: 5px 18px 5px 16px;
  }

  .containerBuscaPorNome>input {
    padding: 15px 18px 15px 16px;
    width: 312px;
    height: 100%;
    padding: 15px 2px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    outline: none;
    background: #e9ecef;
  }

  .containerBuscaPorNome input:focus {
    background-color: #fff;
    border: none;
    outline: none;
  }

  .containerBuscaPorNome:hover {
    background: #fff;
    border: 1px solid #000;
  }

  .containerBuscaPorNome>input:hover {
    background: #fff;
  }

  .filtros {
    overflow-x: hidden;
    display: flex;
    height: 60px;
    flex-direction: row;
    justify-content: center;
  }

  .botao--focado {
    background-color: var(--cor-primaria);
    color: var(--cinza-1);
  }

  .filtro_botao {
    background-color: var(--cinza-1);
    font-size: 16px;
    color: var(--cinza-4);
    line-height: 19px;
    border: 1.5px solid var(--cinza-1);
    border-radius: 30px;
    height: 48px;
    width: auto;
    padding: 15px 14px;
  }

  .filtro_botao:hover {
    color: #FFFF;
    background-color: #ff2253;
  }

  .containerLogo>h2>span {
    font-family: var(--font);
    font-weight: 700;
    font-size: 16px;
    color: var(--cor-primaria);
  }

  /*-------------------------------- cards --------------------------*/
  .box {
    display: flex;
    padding: 0px;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
  }

  main {
    display: flex;
    width: 1009px;
    flex-direction: column;
  }

  .box_card figure img {
    width: 100%;
    height: 194px;
    margin: auto;
  }

  .box_card {
    height: 390px;
    width: 240px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .box_card h3 {
    font-family: var(--font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
  }

  .box_card p {
    font-family: var(--font);
    max-height: 70px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .card__text {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  .card__text__content {
    display: flex;
    gap: 13px;
    flex-direction: column;
  }

  .card__text__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card__text__footer img {
    width: 15px;
    height: 15px;
  }

  .carrinho_header img {
    width: 15px;
    height: 15px;
    color: #ffff;
    margin: 0px 20px;
  }

  /* -------------------------------- carrinho -------------------------------- */
  .carrinhoBox {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
  }

  .carrinho_header {
    display: flex;
    width: 320px;
    height: 56px;
    background-color: var(--cor-primaria);
    border-radius: 12px 12px 0px 0px;
    justify-content: flex-start;
    align-items: center;
  }

  .carrinho_content {
    display: flex;
    width: 319px;
    height: 296px;
    margin-top: 25px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }

  .carrinho_content figure {
    height: 100px;
  }

  .carrinho_content figure img {
    height: 50px;
    height: 50px;
  }

  .carrinho_content span {
    width: 243px;
    height: 60px;
    font-family: var(--font);
    text-align: center;
    /* grey-3 */
    color: var(--cinza-3);
  }

  .carrinho_header img {
    margin: 20;
  }

  .carrinho_header h3 {
    width: 71px;
    height: 27px;
    left: 1223px;
    top: 139px;
    font-family: var(--font);
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: var(--background);
  }

  .conteudo {
    display: flex;
    margin: 0px 100px 123px 100px;
  }

  .card__text__footer button {
    background-image: "/src/pages/assets/imgIcones/shopping-cart-add.png";
    width: 30px;
    height: 30px;
  }

  .cardinho {
    width: 319px;
    max-height: 221px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 17px 10px;
    overflow-y: scroll;
  }

  .cardinho li {
    display: flex;
    width: 100%;
  }

  .cardinho img {
    width: 70px;
    height: 70px;
    border-radius: 8px;
  }

  .carrinho_card {
    justify-content: space-between;
    flex-direction: row;
    position: relative;
  }

  .carrinho__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 175px;
  }


  figure .lixeira {
    width: 15px;
    height: 15px;
  }

  .boxGeral {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    display: flex;
    height: 70px;
  }

  .quantidade {
    display: flex;
    justify-content: space-between;
  }

  .pagamentoTotal {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1400px) {

  /*-------------------------------- Header --------------------------*/
  header {
    display: flex;
    justify-content: space-between;
    height: 72px;
  }

  header .containerLogo {
    display: flex;
    height: 4vh;
    padding: 21px 18px;
    width: 150px;
  }

  .containerLogo>h2 {
    font-family: var(--font);
    font-weight: 700;
    font-size: 22px;
    color: var(--cinza-4);
  }

  header>.containerBuscaPorNome {
    width: 400px;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #e9ecef;
    border-radius: 12px;
    padding: 5px 18px 5px 16px;
  }

  .containerBuscaPorNome>input {
    padding: 15px 18px 15px 16px;

    width: 312px;
    height: 100%;
    padding: 15px 2px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    outline: none;
  }

  .containerBuscaPorNome input:focus {
    background-color: #e9ecef;
    border: none;
    outline: none;
  }

  .filtros {
    display: flex;
    width: 80%;
    height: 60px;
  }

  .botao--focado {
    background-color: var(--cor-primaria);
    color: var(--cinza-1);
  }

  .filtro_botao {
    background-color: var(--cinza-1);
    font-size: 16px;
    color: var(--cinza-4);
    line-height: 19px;
    border: 1.5px solid var(--cinza-1);
    border-radius: 30px;
    height: 48px;
    width: auto;
    padding: 15px 14px;
  }

  .filtro_botao:hover {
    color: #FFFF;
    background-color: #ff2253;
  }

  .containerLogo>h2>span {
    font-family: var(--font);
    font-weight: 700;
    font-size: 16px;
    color: var(--cor-primaria);
  }

  /*-------------------------------- cards --------------------------*/
  .box {
    display: flex;
    padding: 0px;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
  }

  main {
    display: flex;
    width: 1020px;
    margin: none;
    flex-direction: column;
  }

  .box_card figure img {
    width: 100%;
    height: 194px;
    margin: auto;
  }

  .box_card {
    height: 390px;
    width: 260px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .box_card h3 {
    font-family: var(--font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
  }

  .box_card p {
    font-family: var(--font);
    max-height: 70px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .card__text {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

  }

  .card__text__content {
    display: flex;
    gap: 13px;
    flex-direction: column;
  }

  .card__text__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }


  .btn {
    color: #4aca94;
    padding: 15px;
    border-radius: 50%;
    background-color: #e4f7ef;

  }

  .btn:hover {
    transition: background 1s;
    padding: 15px;
    background-color: #4aca94;
    border-radius: 50%;
    cursor: pointer;
    color: #FFFF;
  }

  .carrinho_header img {
    Width: 15px;
    Height: 15px;
    color: #ffff;
    margin: 0px 20px;
  }

  /* -------------------------------- carrinho -------------------------------- */
  .carrinhoBox {
    width: 300px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
  }

  .carrinho_header {
    display: flex;
    width: 320px;
    height: 56px;
    background-color: var(--cor-primaria);
    border-radius: 12px 12px 0px 0px;
    justify-content: flex-start;
    align-items: center;
  }

  .carrinho_content {
    display: flex;
    width: 319px;
    height: 296px;
    margin-top: 25px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }

  .carrinho_content figure {
    height: 100px;
  }

  .carrinho_content figure img {
    height: 50px;
    height: 50px;
  }

  .carrinho_content span {
    width: 243px;
    height: 60px;
    font-family: var(--font);
    text-align: center;
    /* grey-3 */
    color: var(--cinza-3);
  }

  .carrinho_header img {
    margin: 20;
  }

  .carrinho_header h3 {
    width: 71px;
    height: 27px;
    left: 1223px;
    top: 139px;
    font-family: var(--font);
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: var(--background);
  }

  .conteudo {
    display: flex;
    margin: 0px 100px 123px 100px;
    justify-content: center;
  }

  .cardinho {
    width: 319px;
    max-height: 221px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 17px 10px;
    overflow-y: scroll;
  }

  .cardinho li {
    display: flex;
    width: 100%;
  }

  .cardinho img {
    width: 70px;
    height: 70px;
    border-radius: 8px;
  }

  .carrinho_card {
    justify-content: space-between;
    flex-direction: row;
    position: relative;
  }

  .carrinho__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 175px;
  }


  figure .lixeira {
    width: 15px;
    height: 15px;
  }

  .boxGeral {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    display: flex;
    height: 70px;
  }

  .quantidade {
    display: flex;
    justify-content: space-between;
  }

  .pagamentoTotal {
    display: flex;
    justify-content: space-between;
  }


}

.quantidadeDoProduto {
  border: 1px solid black;
  width: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 24px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.quantidadeDoProduto--botao {
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
  background: #d9d9d9;
  width: 26%;
  text-align: center;
}